[submodule "src/untrusted/lz4"]
	path = src/untrusted/lz4
	url = https://github.com/ScottLiao920/lz4.git
[submodule "src/untrusted/postgres_vectorization_test"]
	path = src/untrusted/postgres_vectorization_test
	url = https://github.com/ScottLiao920/postgres_vectorization_test.git
[submodule "src/untrusted/cstore_fdw"]
	path = src/untrusted/cstore_fdw
	url = https://github.com/ScottLiao920/cstore_fdw.git
